body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background: url(../images/bg_charity.jpg) no-repeat bottom fixed;
  background-size: cover;
  background-color: rgba(0,0,0,0.4);
}

#header {
  display: table;
  height: 100%;
  width: 100%;
}
#header #header-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 25px;
}
#header #header-content h1 {
  color: #000000;
  border: 3px solid #000000;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  font-size: 50px;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

#header #header-content p {
  margin-bottom: 15px;
}