---
title: Priscorum
layout: gallery
permalink: /priscorum
---

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ site.url }}/index.html">Home</a>
  <a href="{{ site.url }}/priscorum">Priscorum</a>
  <a href="{{ site.url }}/prints">Prints</a>
  <a href="{{ site.url }}/about">About</a>
</div>

<div id="main">
  <span style="font-size:25px;cursor:pointer;color: black;" onclick="openNav()">&#9776; Menu</span>
  <div id="header">
    <div id="header-content">
      <h1><strong>Priscorum</strong></h1>
      <div id="subheader-text" style="text-align: center; max-width: 50%; display: block; margin-left: auto; margin-right: auto">
        <p><b>Thank you for taking an interest in my adventures!</b></p>
        <p>Currently, I am releasing various works (short stories, novellas, art and photography) on <a href="https://www.patreon.com/melsayre">Patreon</a> - it starts
          at just a dollar a month for various rewards, including rough drafts of larger works, final short stories and
          novellas, free photography prints and more. Take a look and see what works for you - I greatly appreciate any
          and all support.</p>
        <p><a href="https://www.patreon.com/melsayre">Click here to view the Patreon at patreon.com/melsayre.</a></p>
        <p>That said, even if you’re just admiring something, I’d love to hear from you. Every little bit keeps artists
          going. Whether we’re doodling, drawing, taking photos or anything else creative - it’s all art and we love to
          talk about it. Life is our inspiration.</p>
        <p>Feel free to email at <a href="mailto:priscorum@gmail.com">priscorum@gmail.com</a> with any questions or comments!</p>
        <p>I also run a writing Discord server called Scriptum for write-ins, workshops and more: <a href="https://discord.gg/j6qsgxB">click here to join.</a></p>
        <br><br><br>
      </div>
    </div>
  </div>

  <div class="flex-container">
    {% for image in site.static_files %}
      {% if image.path contains 'images/priscorum' %}
        <div class="flex-image-container">
          <img class="myImg" src="{{ image.path }}">
          <div id="img-name">{{ image.basename }}</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.7)";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
  }
</script>
