<div id="wrapper">
  <div id="info">
    <div id="info-content">
      <h1><strong>Melanie Sayre</strong></h1>
      <p>Mother of cats</p>
    </div>
  </div>

  <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
  <div class="menu">
    <label class="menu-toggle" for="menu"><span>Toggle</span></label>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <label for="menu-3">Priscorum</label>
        <input type="checkbox" id="menu-3" name="menu-3" class="menu-checkbox">
        <div class="menu">
          <label class="menu-toggle" for="menu-3"><span>Toggle</span></label>
          <ul>
            <li>
              <a href="#">Chapter 1</a>
            </li>
            <li>
              <a href="#">Chapter 2</a>
            </li>
            <li>
              <a href="#">Chapter 3</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <label for="menu-4">Gallery</label>
        <input type="checkbox" id="menu-4" name="menu-4" class="menu-checkbox">
        <div class="menu">
          <label class="menu-toggle" for="menu-4"><span>Toggle</span></label>
          <ul>
            <li>
              <a href="#">Yosemite</a>
            </li>
          </ul>
        </div>
      </li>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </div>
</div>
