<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/priscorum">Priscorum</a></li>
    <li><a href="/prints">Prints</a></li>
  </ul>
</nav>
<div class="container">

  {{ content }}

</div><!-- /.container -->
<footer>
  <ul>
    <li><a href="mailto:test@gmail.com">email</a></li>
    <li><a href="https://github.com/melsayre">github.com/melsayre</a></li>
  </ul>
</footer>
</body>
</html>